<header>
  <a href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
  {% for my_page in site.pages %}
    {% if my_page.title %}
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {% endif %}
  {% endfor %}
</header>
